:root {
    --font-size-xSmall: 17px;
    --font-size-small-px: 19px;
    --font-size-medium: 28px;
    --font-size-large: 35px;
    --font-color-hover: #c45500;
    --font-color-warn: #B12704;
    --btn-color-orange: #F7CA00;
    --btn-color-yellow: #F7CA00;
    --a-color-blue: #007185;
    --background-one: #EDEEF8;
    --navbar-height: 80px;
}