@import '_main.css';
@import '_header.css';
@import '_footer.css';
@import '_variables.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-small-px);
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
}

.background-one{
  background-color: var(--background-one);
  height: calc(97vh - var(--navbar-height));
}